* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    /* flex-direction: column; */
}

#main-container{
    flex-grow: 1;
    /* width: fit-content; */
    /* overflow: auto; */
    display: flex;
    min-width: 1100px;
    /* justify-content: stretch; */
}

#left{
    background-color: #1992d4;
    width: 15%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
}

#right{
    width: 85%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

#header{
    background-color: white;
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    /* flex-grow: 0; */
}

#main-content{
    background-color: #e2e8f0;
    /* height: max(fit-content, calc(100vh - 200px)); */
    flex-grow: 1;
    display: grid;
    grid-template-columns: 70% max(30%, 330px);
    grid-template-areas:
    "projects announcements"
    "projects trending"
}

#projects-grid-container{
    padding: 30px 30px 30px 30px;
    grid-area: projects;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

#projects-container{
    flex-grow: 1;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.content-headers{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

#announcements-grid-container{
    grid-area: announcements;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

#trending-grid-container{
    grid-area: trending;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.projects{
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.color-bar{    
    width: 10px;
    height: 100%;
    background-color: #f0b429;
}

#announcements-container{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

#trending-container{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.paragraphs{
    padding: 5px;
}

.paragraph-header{
    font-weight: 700;
    padding: 10px 0px 3px 0;
}

.paragraph-body{
    font-size: 13px;
    color: #7E7E7E;
    font-weight: 500;
}

.divider{
    margin-top: 10px;
    border-top: 1px solid #B0B0B0;
}

.object-container{
    display: grid;
    grid-template-columns: 60px 140px;
    grid-template-rows: 20px 20px;
    grid-template-areas:
    "picture user"
    "picture discription"
}

.trending-icon-container{
    grid-area: picture;
    display: flex;
    justify-content: center;
}

.trending-icon{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.username{
    grid-area: user;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 600;
}

.discription{
    grid-area: discription;
    font-size: 14px;
    color: #7E7E7E;
    font-weight: 500;
}

.space{
    height: 20px;
}